.footer {
  border-top: 1px solid #cccaca; 
  color:"white";
  padding: 10px 40px;
  margin-top: auto; 
  text-align: center; 
  background-color: #11d131;
 
}

.footerNav {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: center; 
  gap: 30px; 
  
}

.footerLink {
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: color 0.3s;
}

.footerLink:hover {
  color: #535252; 
}

.copyright {
  font-size: 12px;
  color: white;
  margin-top: 15px;
}